<!DOCTYPE html>
<html>
<head>
  <link media="all" rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/element-ui@2.4.7/lib/theme-chalk/index.min.css"/>
  <meta charset="utf-8">
  <title>Vue Gate</title>
  <% if (htmlWebpackPlugin.options.isDev) {%>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex@3.0.1/dist/vuex.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.js"></script>
  <script
    src="https://cdn.jsdelivr.net/combine/npm/element-ui@2.4.7/lib/index.js,npm/qrcode@1.2.2/build/qrcode.min.js,npm/nprogress@0.2.0,npm/axios@0.18.0/dist/axios.min.js,npm/prismjs@1.15.0"></script>
  <%} else {%>
  <script
    src="https://cdn.jsdelivr.net/combine/npm/vue@2.5.16,npm/vuex@3.0.1/dist/vuex.min.js,npm/vue-router@3.0.1/dist/vue-router.min.js,npm/element-ui@2.4.7/lib/index.min.js,npm/qrcode@1.2.2/build/qrcode.min.js,npm/nprogress@0.2.0,npm/axios@0.18.0/dist/axios.min.js,npm/prismjs@1.15.0"></script>
  <%}%>
  <%=htmlWebpackPlugin.options.test%>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
<script>
  function ___delayJS(src) {
    if (!window.module) window.module = {}; //prevent module.export errors in console
    if (src && (src.substring || src.push)) {
      if (src.push && src.length > 0) {
        window.____delayed_js = src.reverse()
        var fc = function () {
          var url = window.____delayed_js.pop()
          if (url) {
            var body = document.getElementsByTagName('body')[0];
            var scr = document.createElement('script');
            scr.setAttribute('src', url);
            body.appendChild(scr);
          } else {
            window.____delayed_js = undefined
          }
        }
        for (var i = 0; i < src.length; i++) {
          setTimeout(fc, 1000 + (i * 500))
        }
      } else {
        setTimeout(function () {
          var body = document.getElementsByTagName('body')[0];
          var scr = document.createElement('script');
          scr.setAttribute('src', src);
          body.appendChild(scr);
          // console.log(src)
        }, 1000)
      }
    }
  }

  ___delayJS([
    'https://cdn.jsdelivr.net/npm/brace@0.11.1/index.min.js',
    'https://cdn.jsdelivr.net/combine/npm/brace@0.11.1/theme/monokai.min.js,npm/brace@0.11.1/mode/javascript.min.js,npm/brace@0.11.1/mode/java.min.js,npm/brace@0.11.1/mode/sh.min.js,npm/brace@0.11.1/mode/lua.min.js,npm/brace@0.11.1/mode/mysql.min.js,npm/brace@0.11.1/mode/html.min.js,npm/brace@0.11.1/mode/css.min.js,npm/brace@0.11.1/mode/ini.min.js,npm/brace@0.11.1/mode/properties.min.js,npm/brace@0.11.1/mode/python.min.js,npm/brace@0.11.1/mode/protobuf.min.js,npm/brace@0.11.1/snippets/javascript.min.js,npm/brace@0.11.1/snippets/lua.min.js,npm/brace@0.11.1/snippets/sh.min.js,npm/brace@0.11.1/snippets/sql.min.js,npm/brace@0.11.1/snippets/python.min.js,npm/difflib@0.2.4/dist/difflib-browser.min.js,npm/diff2html@2.4.0/dist/diff2html.min.js,npm/ace-diff@2.2.0',
  ])
</script>
</html>
